/* CSS declarations go here */

$gutter: 15px;
$board-color: #6FBBF5;
$board-height: 550px;
$cardHeight: 100px;

body {
  background-image: url("images/crossword.png");
}

.menu {
  padding-top: $gutter * 4;
  text-align: center;
  width: 100%;
}

.start-game {
  border: 3px solid #9E951B;
  border-radius: 15px;
  background-color: #FBFF8F;
  display: block;
  margin: auto;
  padding: $gutter;
  text-decoration: none;
  width: 150px;
}

.game-over {
  color: #FFF;
  display: none;
  margin-top: $gutter * 10;
  text-align: center;
}

.reloaded {
  color: red;
  right: 15px;
  position: absolute;
}

.board {
  background-color: #1D5223;
  border: 2px solid;
  border-radius: 25px;
  display:none;
  height: $board-height;
  margin-top: $gutter;
  position: relative;


  .inner-board {
    padding-left: 50%;
    width: 100%;
  }
}

.center-of-board {
  height: $cardHeight;
}

&.player-name {
  color: white;
  width: 100%;
  text-align: center;
}

.opponent {
  position: absolute;

  &.player-name {
    top: $gutter;
  }

  &.hand {
    top: $gutter * 3;
  }
}

.current-player {
  bottom: $gutter * 3;
  position: absolute;

  &.player-name {
    bottom: $gutter;
  }

  &.hand {
    bottom: $gutter * 3;
  }
}

.hand {
  margin-left: -205px;
}

.hand .card {
  float: left;
  margin-left: $gutter;

  &:first-child {
    margin-left: 0;
  }
}

.playingCards.simpleCards .card.diams,
.playingCards.simpleCards .card.clubs,
.playingCards.simpleCards .card.hearts,
.playingCards.simpleCards .card.spades {
  .suit:after {
    right: 0.25em;
  }
}

.winning-card {
  background-color: rgb(221, 255, 221);

  &:after {
    color: green;
    content: "\2713";
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 0;
  }
}

