/* CSS declarations go here */

@import 'styles/globals';
@import 'styles/cards';
@import 'styles/board';
@import 'styles/game_menus';

body {
  background-image: url("images/crossword.png");
}

.reloaded {
  color: red;
  right: 15px;
  position: absolute;
}
