/* CSS declarations go here */

$gutter: 15px;
$board-color: #6FBBF5;
$board-height: 500px;

.board {
  background-color: #6FBBF5;
  border: 2px solid;
  border-radius: 25px;
  height: $board-height;
  position: relative;
  padding: $gutter * 2;
  margin-top: $gutter * 2; /* TODO: replace with a gutter sass var */
}

.hand {
  text-align: center;
  width: 100%;
}

.player-1 {
  position: absolute;
  top: 0;
}

.player-2 {
  bottom: 0;
  position: absolute;
}

.card {
  display: inline-block;
}