$base-line-height: 15px;
$base-font-size: 16px;
$board-color: #6FBBF5;
$board-height: 550px;
$default-num-cards: 5;
$gutter: 15px;

// card dimensions
$card-height-mobile: 75px;
$card-height-desktop: 100px;
$card-width-mobile: 50px;
$card-width-desktop: 70px;

// viewports
$medium-screen: 500px;